.find-home-box {
    width: 100%;
    padding: 0px 30px 0px;
}
.w3l-signup7 {
    background: #fff !important;
    background-position: 50% 50%;
    padding: 8px;
    margin: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100% !important;
    box-shadow: 0px 0px 11px 0px rgb(27, 27, 27) !important;
    h3 {
        font-family: Calibri;
        font-size: 20px;
        font-weight: 600;
        color: #2b569a;
        margin-bottom: 10px;
    }
    
    fieldset {
        margin: 0 2px;
        padding: 10px 5px 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        legend {
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}
.flex {
    display: flex;
}
.LabsHomePage__paddingBottom16__Kir4i {
    padding-bottom: 16px;
}
.mTop-24 {
    margin-top: 24px;
}
.pY-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.col-13 {
    width: calc(calc((min(100vw, 1440px) - 144px - 288px) / 24) * 13 + 12px * 12);
    margin-left: 6px;
    margin-right: 6px;
}
.col-1 {
    width: calc((min(100vw, 1440px) - 144px - 288px) / 24);
    margin-left: 6px;
    margin-right: 6px;
}
.col-10 {
    margin-left: 6px;
    margin-right: 6px;
}
.LabsHeroWidget__title__k9bUp {
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0;
}
.Search__searchContainer__aR64Z.Search__notSticky__rNOxD {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.Search__searchContainer__aR64Z.Search__withoutDropdown__Ep7mv {
    z-index: 0;
    background-color: #fff;
}
.Search__searchContainer__aR64Z.Search__notSticky__rNOxD {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.Search__searchContainer__aR64Z.Search__withoutDropdown__Ep7mv {
    z-index: 0;
    background-color: #fff;
}
.Search__searchContainer__aR64Z {
    padding: 24px 0 8px;
    transition: box-shadow .2s ease-in-out;
}
.Search__searchContainer__aR64Z {
    padding: 24px 0 8px;
    transition: box-shadow .2s ease-in-out;
}
.LabsHeroWidget__threeColumnGrid__DeQIz {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.mTop-24 {
    margin-top: 24px;
}
.LabsHeroWidget__phleboStoriesContainer__yq8Kx {
    height: 100%;
}
.alignCenter {
    align-items: center;
}
.flex {
    display: flex;
}
.LabsHeroWidget__phleboStoriesContainer__yq8Kx {
    height: 100%;
}
.LabsHeroWidget__phleboStoriesGrid__OaQgi {
    gap: 20px;
    width: 100%;
    height: 100%;
}
.LabsHeroWidget__leftColumn__C5Q4b {
    display: grid;
    grid-template-rows: 6fr 7fr;
    gap: 20px;
    //width: 50%;
    height: 100%;
}
.LabsHeroWidget__rightColumn__wyHnq {
    display: grid;
    grid-template-rows: 7fr 6fr;
    gap: 20px;
    //width: 50%;
    height: 100%;
}
.Search__customSearchWidgetContainer__mJ2gm {
    background-color: #fff;
    border: 1px solid #dde2eb;
    height: 64px;
    overflow: visible;
    border-radius: 64px;
    box-shadow: 0 2px 4px 0 rgba(39, 43, 51, .0588235294);
}
.pLeft-24 {
    padding-left: 24px;
}
.pY-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.alignCenter {
    align-items: center;
}
.flex {
    display: flex;
}
.Search__customSearchWidgetContainer__mJ2gm {
    background-color: #fff;
    border: 1px solid #dde2eb;
    height: 64px;
    overflow: visible;
    border-radius: 64px;
    box-shadow: 0 2px 4px 0 rgba(39, 43, 51, .0588235294);
}
.relative {
    position: relative;
}
.justifyBetween {
    justify-content: space-between;
}
.alignCenter {
    align-items: center;
}
.flex {
    display: flex;
}
.col-4 {
    width: calc(calc((min(100vw, 1440px) - 144px - 288px) / 24) * 4 + 12px * 3);
    margin-left: 6px;
    margin-right: 6px;
}
.Search__currentLocationIcon__ntnQv {
    right: -24px;
}
.Search__divider__RR04R {
    width: 1px;
    height: 24px;
    border: 1px solid #bec5d1;
}
.middleDivider {
    margin-left: 16px;
    margin-right: 16px;
}
.Search__divider__RR04R {
    width: 1px;
    height: 24px;
    border: 1px solid #bec5d1;
}
.absolute {
    position: absolute;
}
.pointer {
    cursor: pointer;
}
img {
    max-width: 100%;
    display: block;
}
img {
    max-width: 100%;
    display: block;
}
img {
    border-style: none;
}
.col-9 {
    width: calc(calc((min(100vw, 1440px) - 144px - 288px) / 24) * 9 + 12px * 8);
    margin-left: 6px;
    margin-right: 6px;
}
.SearchField__inputBox__bT_wr {
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    position: relative;
}
.bodyLargeMedium {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 1.1428571429rem;
    font-weight: 500;
    line-height: 24px;
}
.textPrimary {
    color: #181a1f;
}
.SearchField__inputBox__bT_wr {
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    position: relative;
}
input {
    border: solid;
    -webkit-appearance: none;
}
.Search__searchDynamicWidth__XIH3l {
    width: calc(100% - 48px);
}
.Search__searchCustomClass__OroA_ {
    padding: 16px 16px 16px 0;
    border: none;
    position: relative;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    height: 36px;
    align-items: center;
    width: 100%;
}
.Search__searchDynamicWidth__XIH3l {
    width: calc(100% - 48px);
}
.Search__searchCustomClass__OroA_ {
    padding: 16px 16px 16px 0;
    border: none;
    position: relative;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    height: 36px;
    align-items: center;
    width: 100%;
}
.ImageLoader__img-loaded__nP9UD {
    animation: ImageLoader__fadeInImg__1xUrE cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: .7s;
    animation-delay: .1s;
    max-height: 100%;
}
.LabsHeroWidget__clickable__kp79x {
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease;
}
.LabsHeroWidget__item__gU9Lg {
    height: 100%;
    flex-shrink: 0;
    width: 100%;
}
.pX-4 {
    padding-left: 4px;
    padding-right: 4px;
}
.LabsHeroWidget__htmlNodeWrapper__zTwpA {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 1rem;
    line-height: 20px;
}
.mLeft-4 {
    margin-left: 4px;
}
.LabsHeroWidget__htmlNodeWrapper__zTwpA {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 1rem;
    line-height: 20px;
}
.LabsHeroWidget__htmlNodeWrapper__zTwpA strong, .LabsHeroWidget__htmlNodeWrapper__zTwpA b {
    font-weight: 600;
}
.LabsHeroWidget__findPackageContainer__vrULT {
    border-radius: 16px;
    border: 1px solid #f0f2f5;
}
.LabsHeroWidget__findPackageText__irXef {
    font-size: 18px;
    font-weight: 600;
    color: #181a1f;
    margin: 0;
}
.textMain {
    color: #181a1f;
}
.headingExtraSmallBold {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 1.2857142857rem;
    font-weight: 700;
    line-height: 28px;
}
.LabsHeroWidget__findPackageText__irXef {
    font-size: 18px;
    font-weight: 600;
    color: #181a1f;
    margin: 0;
}
h2 {
    font-size: 1.2857142857rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
}
.ImageLoader__transparentImage__ZMbEc {
    opacity: 0;
}
img {
    max-width: 100%;
    display: block;
}
img {
    border-style: none;
}
.LabsHeroWidget__findPackageGrid__KZk4K {
    gap: 16px;
}
.mTop-16 {
    margin-top: 16px;
}
.LabsHeroWidget__findPackageRow1__vUFeD {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0px 10px 0px 10px;
}
a {
    text-decoration: none;
    color: #ff6f61;
}
.LabsHeroWidget__findPackageItem__IooY9 {
    box-shadow: inset 0 0 0 1px rgba(221, 226, 235, .5019607843);
    padding: 12px 12px 12px 20px;
    background-color: #fafbfc;
}
.LabsHeroWidget__findPackageItemText__Gamgr {
    color: #181a1f;
    align-items: flex-start;
    gap: 4px;
}
.bodyLargeBold {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 1.1428571429rem;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}
.LabsHeroWidget__findPackageRow2__AcyOV {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.LabsHeroWidget__phleboStoriesItem__aHVR6 {
    border: 1px solid rgba(221, 226, 235, .5019607843);
    padding: 20px;
    background-color: #fafbfc;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 200px;
    position: relative;
    overflow: hidden;
}
.curved-xl {
    border-radius: 16px;
}
.LabsHeroWidget__leftColumn__C5Q4b .LabsHeroWidget__firstCard__N3pdx {
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.LabsHeroWidget__phleboStoriesItemText__MG5WQ {
    position: relative;
    z-index: 2;
    padding-left: 4px;
    padding-right: 4px;
    color: #fff;
}
@media (min-width: 1280px) {
    .LabsHeroWidget__mainText__u6oWe {
        white-space: nowrap;
        margin-bottom: 4px;
    }
}
@media (min-width: 1280px) {
    .LabsHeroWidget__subText__pgwpm {
        white-space: nowrap;
    }
}
.bodySmallMedium {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 0.8571428571rem;
    font-weight: 500;
    line-height: 16px;
}
.LabsHeroWidget__leftColumn__C5Q4b .LabsHeroWidget__secondCard__pp5gY {
    grid-row: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.LabsHeroWidget__rightColumn__wyHnq .LabsHeroWidget__firstCard__N3pdx {
    grid-row: 1;
}
@media (min-width: 1280px) {
    .LabsHeroWidget__mainText__u6oWe {
        white-space: nowrap;
        margin-bottom: 4px;
    }
}
.LabsHeroWidget__rightColumn__wyHnq .LabsHeroWidget__secondCard__pp5gY {
    grid-row: 2;
}
.mTop-48 {
    margin-top: 48px;
}
.col-24 {
    width: calc(calc((min(100vw, 1440px) - 144px - 288px) / 24) * 24 + 12px * 23);
    margin-left: 6px;
    margin-right: 6px;
}
.mTop-32 {
    margin-top: 32px;
}
.flex1 {
    flex: 1;
}
.LabsMasterWidget__six_column__eUaJD:not(.LabsMasterWidget__grid__wp7vT .LabsMasterWidget__six_column__eUaJD) {
    margin-right: 8px;
    flex-shrink: 0;
}
.fullWidth {
    width: 100%;
}
.LabsMasterWidget__six_column__eUaJD {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
.LabsMasterWidget__grid__wp7vT {
    display: grid;
    gap: 12px;
}
.truncateTo2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mTop-12 {
    margin-top: 12px;
}
.headingExtraSmallMedium {
    font-family: figtree, avenir, "Century Gothic", arial, sans-serif;
    font-size: 1.2857142857rem;
    font-weight: 500;
    line-height: 28px;
}
.LabsMasterWidget__text__o81Zb {
    word-break: break-word;
}
.marginBoth-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.BannerWidgetCarouselAutoScroll__carouselItems__anxhz {
    align-items: stretch;
    scroll-snap-align: center;
    pointer-events: auto;
    flex: 0 0 40%;
    min-width: 40%;
}
.BannerWidgetCarouselAutoScroll__imgAspectRatio2_1__RNEaJ {
    aspect-ratio: 2 / 1;
}
.BannerWidgetCarouselAutoScroll__imgH100__k76Mm {
    align-self: stretch;
}
.BannerWidgetCarouselAutoScroll__bannerImgDiv__r9t2L {
    border-radius: 8px;
}
.SliderIndicator__sliderWrapper__gMZCa {
    gap: 16px;
    max-width: 300px;
}
.SliderIndicator__swiper__JOVVK {
    height: 8px;
    background-color: #dde2eb;
    margin: 8px 0;
    overflow: hidden;
    border-radius: 2px;
}
.SliderIndicator__pauseButton__AE6hm {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    outline: none;
    transition: background-color .2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    flex-shrink: 0;
}
.BannerWidgetCarouselAutoScroll__paddingBoth8__PSVQr {
    padding: 8px 0;
}
.BannerWidgetCarouselAutoScroll__topNavigationButtons__mW1oL {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    padding: 0 16px;
}
.gap-16 {
    gap: 16px;
}
.NavigationButtons__btnStyle__cd360 {
    background-color: #fff;
    border: 1px solid #dde2eb;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.BannerWidgetCarouselAutoScroll__inner__UnyDv {
    display: flex;
    overflow-x: hidden;
    flex: none;
    width: 100%;
    gap: 16px;
    scrollbar-width: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}